<p>Now, let's put some random text inside of our partial, just copy paste anything you find somewhere on the interwebs. I like to copy some Bacon Ipsum, just because I like bacon a lot..  Place it in you _text.html.erb partial, inside a pair of </p>
